.transactionHistory {
    
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .transactionHistory th,
  .transaction-history td {
    padding: 8px;
  }
  
  .transactionHistory thead {
    background-color: #f2f2f2;
  }
  
  .transactionHistory th {
    background-color: #ddd;
  }
  
  .transactionHistory tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  .transactionHistory tbody tr:nth-child(even) {
    background-color: #fff;
  }